/* Variables */
:root {
    --cellHeight: 60px;
    --rowGap: 8px;
  }
  
  /* Mixin */
  /* No equivalent for SCSS mixins in regular CSS */
  
  .className {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  
  /* .machine {
    display: grid;
    grid-template-columns: 56px 1fr;
    row-gap: 16px;
  } */
  
  .labelList {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    row-gap: var(--rowGap);
  }
  
  .labelList > * {
    height: var(--cellHeight);
    display: grid;
    place-content: center;

    @media only screen and (max-width: 600px) {
      height: 40px;
    }
  }
  
  .grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--rowGap);
    padding: 0 1.25rem;
  }
  
  .lamp__input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
  }
  
  .lamp__input:checked + .lamp__content {
    background-color: #8bde90;
  }
  
  .lamp__content {
    width: 14px;
    height: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin: 0 8px;
    margin: auto;
  }
  
  .cellList {
    display: flex;
    flex-direction: column;
    row-gap: var(--rowGap);
  }
  
  .row {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    column-gap: 15px;

    @media only screen and (max-width: 768px) {
      column-gap: 5px;
      /* padding: 0 10px; */
    }

    /* @media only screen and (max-width: 600px) {
      grid-template-columns: repeat(16, 20px);
      column-gap: 0;
      justify-content: space-between;
    } */
  }
  
  /* .row > *:nth-child(4n):not(:last-child) {
    margin-right: 8px;
  } */
  
  .cell {
    cursor: pointer;
  }
  
  .cell__input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
  }
  
  .cell__input:checked + .cell__content {
    background-color: #8A97DA;
  }
  
  .cell__input:focus-visible + .cell__content {
    outline: solid 4px #90cdf4;
    outline-offset: 2px;
  }
  
  .cell__content {
    /* width: 30px; */
    height: var(--cellHeight);
    background-color: transparent;
    border: 1px solid #8A97DA;
    border-radius: 5px;

    @media only screen and (max-width: 600px) {
      height: 40px;
    }
  }
  
  .fader {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
  
  .controls {
    display: flex;
    align-items: center;
    column-gap: 16px;
    grid-column: 2;
  }
  
  .button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: #005da5;
    color: white;
    width: 80px;
    line-height: 2;
    border-radius: 4px;
    font-weight: 700;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #4281b2;
  }
  